<ion-view view-title="{{navTitle}}" hide-back-button="true" hide-nav-bar="true">

<ion-header-bar  style=" height:90px;">
	<div class="MainHeader" align="center">
    	<div class="MainHeaderRight">
        	<div class="MainHeaderRightDiv" ng-click="toggleRightSideMenu()">
        		<img src="img/menu.png" style="width:100%" />
            </div>
        </div>
        <div class="MainHeaderCenter">
        	<div class="MainHeaderCenterDiv">
        		<img src="img/logo.png" style="width:100%" />
            </div>
        </div>
        <div class="MainHeaderLeft" ng-click="GoBack()">
        	<div class="MainHeaderLeftDiv">
        		<img src="img/left_arrow.png" style="width:100%" />
            </div>
        </div>
    </div>
</ion-header-bar> 




  <ion-content style="margin-top:30px;">
	
	<div style="width:100%;height: 100%; " ng-if="InfoArray.image">
		<ion-scroll zooming="true"  min-zoom="1" has-bouncing="false" overflow-scroll="false" direction="xy" style="width: 100%; height: 100%">
		<img src="{{hostUrl}}/{{InfoArray.image}}" imageonload style="width: 100%;" >
		</ion-scroll>
	</div>





				
  </ion-content>
</ion-view>
