<ion-view view-title="{{navTitle}}" hide-back-button="true" hide-nav-bar="true">

<ion-header-bar  style=" height:90px;">
	<div class="MainHeader" align="center">
    	<div class="MainHeaderRight">
        	<div class="MainHeaderRightDiv" ng-click="toggleRightSideMenu()">
        		<img src="img/menu.png" style="width:100%" />
            </div>
        </div>
        <div class="MainHeaderCenter">
        	<div class="MainHeaderCenterDiv">
        		<img src="img/logo.png" style="width:100%" />
            </div>
        </div>
        <div class="MainHeaderLeft" ng-click="navigateHome()">
        	<div class="MainHeaderLeftDiv">
        		<img src="img/left_arrow.png" style="width:100%" />
            </div>
        </div>
    </div>
</ion-header-bar> 




  <ion-content style="margin-top:30px;">
	
	<div class="card">
	  <div class="item item-text-wrap" ng-bind-html="pushContent" style="text-align:right; direction:rtl;">
	  </div>
	</div>





				
  </ion-content>
</ion-view>
