<ion-view view-title="{{navTitle}}" hide-back-button="true" hide-nav-bar="true">

<ion-header-bar  style=" height:70px;">
	<div class="MainHeader" align="center">
    	<div class="MainHeaderRight">
        	<div class="MainHeaderRightDiv" ng-click="toggleRightSideMenu()">
        		<img src="img/menu.png" style="width:100%" />
            </div>
        </div>
        <div class="MainHeaderCenter">
        	<div class="MainHeaderCenterDiv">
        		<img src="img/logo.png" style="width:100%" />
            </div>
        </div>
        <div class="MainHeaderLeft" ng-click="GoBack()">
        	<div class="MainHeaderLeftDiv">
        		<img src="img/left_arrow.png" style="width:100%" />
            </div>
        </div>
    </div>
</ion-header-bar> 




  <ion-content class="has-subheader" style="margin-top:30px;">
	
    <article style="overflow:hidden">
       
       
       <div ng-repeat="item in PhonebookArray ">
       		<div  class="articlesContacts"  ng-style="$index==0 ? {'border-top':'none'}:{'border-top':'solid #2f2f2f'}">
               <div class="contactMainDiv">
                    <div class="coBlue"  ng-style="$index%2==0 ? {'background-color':'#377fba'}:{'background-color':'#00ac36'}">
                    </div>
                    <div class="coInfo">
                        <div style="font-size:17px; font-weight:bold">{{item.title}} | {{CutNumber(item.phone)}}</div>
                        <div style="font-size:15px; ">{{item.subtitle}}</div>
                    </div>
                    <div class="coIcon" align="center">
					<div ng-click="DialPhone(item.phone)">
                        <div style="width:70%; padding-top:10px;">
                             <img src="img/phone.png" style="width:100%" />
                        </div>
						</div>
                    </div>
                </div>
            </div>
       </div>
       
	
  
    </article>





				
  </ion-content>
</ion-view>
