<ion-view view-title="{{navTitle}}" hide-back-button="true" hide-nav-bar="true">

<ion-header-bar  style=" height:70px;">
	<div class="MainHeader" align="center">
    	<div class="MainHeaderRight">
        	<div class="MainHeaderRightDiv" ng-click="toggleRightSideMenu()">
        		<img src="img/menu.png" style="width:100%" />
            </div>
        </div>
        <div class="MainHeaderCenter">
        	<div class="MainHeaderCenterDiv">
        		<img src="img/logo.png" style="width:100%" />
            </div>
        </div>
        <div class="MainHeaderLeft" ng-click="GoBack()">
        	<div class="MainHeaderLeftDiv">
        		<img src="img/left_arrow.png" style="width:100%" />
            </div>
        </div>
    </div>
</ion-header-bar> 




  <ion-content style="margin-top:30px;">
	

	<div class="card" ng-if="mainMessages.length == 0">
	  <div class="item item-text-wrap" style="text-align:right; direction:rtl;">
		לא נמצאו הודעות כרגע, יש לנסות מאוחר יותר.
	  </div>
	</div>


	
	<div class="card" ng-repeat="item in mainMessages">

	  <div class="item item-text-wrap"  style="text-align:right; direction:rtl;">
		{{item.content}}
	  </div>
	  <div class="item item-divider" style="text-align:right; direction:rtl;">
		{{GetTime(item.date)}}
	  </div>
	</div>





				
  </ion-content>
</ion-view>
